services:
  app:
    build: .
    environment:
      - DUMMY_VAR=true
    volumes:
      - ./logs:/usr/src/app/build/logs
      - ./config.json:/usr/src/app/build/config.json
    network_mode: "host"
    # 使用 host 网络模式，服务直接监听宿主机端口 5555
