[Unit]
Description=Chayns Login Service
After=network.target

[Service]
Type=simple
User=useryx
WorkingDirectory=/home/useryx/workspace/cpp/aiapi/tools/accountlogin
Environment="PATH=/usr/local/bin:/usr/bin:/bin"
Environment="PYTHONPATH=/home/useryx/workspace/cpp/aiapi/tools/accountlogin"
ExecStartPre=/usr/bin/pip3 install fastapi uvicorn selenium webdriver_manager
ExecStart=/usr/bin/python3 login.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target 